.Star {
    position: absolute;
    background-color: rgb(200, 200, 200);
    box-shadow: 0 0 32px 4px rgba(200, 200, 200, 0.5);
    aspect-ratio: 1 / 1;
}

.Scene {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.TrailContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.TrailContainer > div {
    position: absolute;
    width: 2px;
    aspect-ratio: 1 / 1;
    opacity: 0.25;
}

.Object {
    position: absolute;
    aspect-ratio: 1 / 1;
    z-index: 4;
}

.PartList {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 0;
    bottom: 0;
    width: 20em;
    min-height: calc(6em + 2px);
    max-height: calc(6em + 2px);

    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.125);
    backdrop-filter: blur(2px);

    overflow-x: hidden;
    overflow-y: auto;
}

.PartList > div {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: relative;
    min-height: 2em;
    max-height: 2em;
    width: 100%;

    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    background-color: rgba(100, 100, 100, 0.125);
    backdrop-filter: blur(2px);

    cursor: pointer;
}

.PartList > div > .Visual {
    position: absolute;
    height: calc(100% - 16px);
    aspect-ratio: 1 / 1;
    margin: 8px;
}

.PartList > div > :not(.Visual) {
    padding-left: 2em;
}

.Options {
    display: flex;
    flex-direction: column;
    gap: 4px;

    padding: 8px;

    position: absolute;
    right: -25em;
    top: 0;
    width: 25em;
    height: 100%;

    box-sizing: border-box;
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.125);
    backdrop-filter: blur(2px);

    transition: right 0.25s ease;
}

.Options > hr {
    width: 100%;
    opacity: 0.5;
}

.Options > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Options > * {
    font-size: 18px;
}